<%= form_with(model: admin_user_favorite_player) do |form| %>
  <% if admin_user_favorite_player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_user_favorite_player.errors.count, "error") %> prohibited this admin_user_favorite_player from being saved:</h2>

      <ul>
        <% admin_user_favorite_player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
