<p style="color: green"><%= notice %></p>

<h1>User favorite players</h1>

<div id="admin_user_favorite_players">
  <% @admin_user_favorite_players.each do |admin_user_favorite_player| %>
    <%= render admin_user_favorite_player %>
    <p>
      <%= link_to "Show this user favorite player", admin_user_favorite_player %>
    </p>
  <% end %>
</div>

<%= link_to "New user favorite player", new_admin_user_favorite_player_path %>
