<h1>New user favorite player</h1>

<%= render "form", admin_user_favorite_player: @admin_user_favorite_player %>

<br>

<div>
  <%= link_to "Back to user favorite players", admin_user_favorite_players_path %>
</div>
