<div id="<%= dom_id notification %>">
  <p>
    <strong>Player:</strong>
    <%= notification.player.name %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

</div>
