<div class="row">
    <h1 id="players" class="col-12 mb-4">Players</h1>
</div>
<%= render partial: "supporter/pages/endpoints/players" %>

<div class="row">
    <h1 id="favorite-players" class="col-12 mb-4">Favorite Players</h1>
</div>
<%= render partial: "supporter/pages/endpoints/favorite_players" %>

<div class="row">
    <h1 id="notifications" class="col-12 mb-4">Notifications</h1>
</div>
<%= render partial: "supporter/pages/endpoints/notifications" %>


