<h1>Editing player</h1>

<%= render "form", admin_player: @admin_player %>

<br>

<div>
  <%= link_to "Show this player", @admin_player %> |
  <%= link_to "Back to players", admin_players_path %>
</div>
