<h1>Editing user favorite player</h1>

<%= render "form", supporter_user_favorite_player: @supporter_user_favorite_player %>

<br>

<div>
  <%= link_to "Show this user favorite player", @supporter_user_favorite_player %> |
  <%= link_to "Back to user favorite players", supporter_user_favorite_players_path %>
</div>
