<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>The player <%= @notification.player.name %> read the message: </h4>
    <p>
        <blockquote><%= @notification.message %></blockquote> 
    </p>    
  </body>
</html>