<div id="<%= dom_id user_favorite_player %>">
  <p>
    <strong>User:</strong>
    <%= user_favorite_player.user_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= user_favorite_player.player_id %>
  </p>

</div>
