<h1>Editing user favorite player</h1>

<%= render "form", user_favorite_player: @user_favorite_player %>

<br>

<div>
  <%= link_to "Show this user favorite player", @user_favorite_player %> |
  <%= link_to "Back to user favorite players", user_favorite_players_path %>
</div>
